# Global GIT ignored files
node_modules

# Ignore X-code files
*~.nib
*.so
*.pbxuser
*.mode*
*.perspective*

# Xcode 4
project.xcworkspace/
xcuserdata/

# UI Automation Test files
*.trace

# OSX Specific files
.DS_Store

# Textmate project file
*.tmproj

# Thumbnail cache files
._*